{% extends 'learnfrench/base.html' %}

{% block content %}
{% load static %}
<h1>About</h1>

<p>
This learning portal is dedicated to French learning activities targeted at native speakers of Cantonese.</p>
<p>
Beyond a curated list of links to other learning resources, 
it offers exercises targeting aspects of the phonology and syntax of French 
that differ a lot from Cantonese and are hard to acquire for Cantonese learners.</p>
<p>
The website can be enriched with new exercises, if you are interested in becoming a contributor, 
send an email to french@eduhk.hk to ask how you can contribute.
</p>
<p>
This website was made possible thanks to Teaching Development Grant of EdUHK (TDG-T083).
</p>
<p>
The entire contents of this website are subject to copyright (all rights reserved).
</p>
{% endblock %}