{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <!--link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet"-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
    <title>Learn French Now!</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- facebook feed js sdk -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=524004861090640&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- end facebook feed js sdk -->

    <div class="container">
    <div class="toplogobar row justify-content-between">
      <div class="col-2">
        <img src="{% static 'image/edulogo.png' %}" />
      </div>
      <div class="col-2">
        <img src="{% static 'image/linglogo.png' %}" />
      </div>
    </div>
    <div class="seclogobar row justify-content-center">
      <div class="col-4">
        <img src="{% static 'image/frenchlogo.png' %}" />
      </div>
    </div>
    <div class="row">
      <div class="col">
          <nav> <!-- nav tag not supported in IE8 or earlier -->
            <a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Home</a> | 
            <a class="{% if 'news' in request.path %}active{% endif %}" href="{% url 'news' %}">News</a> | 
            <a class="{% if 'learn' in request.path %}active{% endif %}" href="{% url 'learn' %}">Start learning</a> | 
            <a class="{% if 'resource' in request.path %}active{% endif %}" href="{% url 'resource' %}">Resources</a> |
            <a class="{% if 'about' in request.path %}active{% endif %}" href="{% url 'about' %}">About</a> |
            <a class="{% if 'manage' in request.path %}active{% endif %}" href="{% url 'manage' %}">Admin</a>
            {% if user.is_authenticated %}
            <span class="nav-right">
              <span class="username">{{ user.email }}</span>
              &nbsp;
              <a href="{% url 'logout' %}">Logout</a>
            </span>
            {% endif %}
          </nav>
      </div>
    </div>
    
   
        {% block content %}
        {% endblock %}
  


        <footer class="footer row">
          <div class="container">
            <span class="text-muted">@2018 The Education University of Hong Kong. All rights reserved</span>
          </div>
          
        </footer>


    <!-- Bootstrap core JavaScript-->
    
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
