{% extends 'learnfrench/quiz.html' %}

{% block excontent %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col">
            <p>Which picture matches with the word you hear? Select the picture that matches with the word you hear</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if random_word.sound_file_mp3 %}
            <audio controls>
                <source src="{% static '/' %}{{ random_word.sound_file_mp3.url }}" type="audio/mp3">
                <source src="{% static '/' %}{{ random_word.sound_file_ogg.url }}" type="audio/ogg">
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="{% static '/' %}{{ random_word.sound_file_mp3.url }}">link to the audio</a> instead.</p>
            </audio>
            {% endif %}
        </div>
        <div class="col">
            <p><span class="ex_response ex_response_correct float-right">Correct</span><span class="ex_response ex_response_incorrect float-right">Try again</span></p>
        </div>
    </div>

    <form id="exercise-form">
    <div class="row">   
       
            <div class="col">
                <input type="radio" id={{word1.word}} value={{word1.word}} name="image-radio">
                <label for={{word1.word}} class="test"><img class="img-fluid" src="{% static '/' %}{{ word1.image_file.url }}"></label>
            </div>
            <div class="col">
                <input type="radio" id={{word2.word}} value={{word2.word}} name="image-radio">
                <label for={{word2.word}} class="test"><img class="img-fluid" src="{% static '/' %}{{ word2.image_file.url }}"></label>
            </div>    
                     
    </div>
    <div class="row">
        <div class="col">
            <input class="btn btn-primary btn-top-margin float-right" type="submit" name="submit-btn" action="" value="Check answer" />
        </div>
    </div>    
    </form>  

    <div class="row">
        <div class="col">

        {% if pair_next %}
            <a class="btn btn-primary float-right" href={{ pair_next.get_next_ex_absolute_url }}>Next</a>
        {% else %}
            <p>This is the end of {{ exitem.title }}</p>
        {% endif %}

        </div>
    </div>
</div>


{% endblock %}
