{% extends 'learnfrench/base.html' %}

{% block content %}
{% load static %}
<div class="row">
    <h1>Learn French Portal Home</h1>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">

        <p>
                Welcome to the EdUHK french learning platform.
        </p>
<p>
        Here you’ll find exercises to work on phonetics and syntax as well as various ressources to help with your learning. For the latest and upcoming events, consult the news section or follow our Facebook and Instagram accounts (french@EdUHK).
</p>
    </div>
    <div class="col-sm-12 col-md-3">
            <div class="fb-page" 
                data-href="https://www.facebook.com/frencheduhk/" 
                data-tabs="timeline" 
                data-small-header="false" 
                data-adapt-container-width="true" 
                data-hide-cover="true" 
                data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/frencheduhk/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/frencheduhk/">French at EDUHK</a>
                </blockquote>
            </div>
    </div>
</div>
{% endblock %}