{% extends 'learnfrench/base.html' %}

{% block content %}
{% load static %}
<h1>Quiz</h1>


<p>
    <ul>
   {% if phono_quiz_list %}
    {% for quiz in phono_quiz_list %}
        <li class="quiz"><a href="{{ quiz.get_absolute_url }}">{{ quiz.name }}</a></li>
    {% endfor %}
  {% endif %}
  {% if syntax_quiz_list %}
    {% for quiz in syntax_quiz_list %}
        <li class="quiz"><a href="{{ quiz.get_absolute_url }}">{{ quiz.name }}</a></li>
    {% endfor %}
  {% endif %}
  </ul>

</p>

{% endblock %}
