{% extends 'learnfrench/base.html' %}

{% block content %}
{% load static %}
<div class="news-article">
<h1>{{ article.title }}</h1>
<small>{{ article.post_date | date:"Y-m-d" }}</small>

<p>
    {% if article.image %}
    <img class="news-image" src="{% static article.image %}" />
    {% endif %}
    {{ article.content | safe}}
</p>
<div class="control">
    <a href="{% url 'news' %}">Back</a>   
    {% if user.is_authenticated %}
        |  <a href="{% url 'news-update' article.slug %}" >Edit</a>
        |  <a href="{% url 'news-delete' article.slug %}" >Delete</a>
    {% endif %}
</div>

</div>

{% endblock %}
