{% extends 'learnfrench/base.html' %}

{% block content %}
{% load static %}
<h1>News</h1>

<p>
   {% if news_list %}
    <ul>
    {% for news in news_list %}
    <li><a href="{{ news.get_absolute_url }}">[{{ news.post_date | date:"Y-m-d" }}] {{ news.title }}</a>
      {% if user.is_authenticated %}
      <a href="{% url 'news-update' news.slug %}" class="teacheredit">Edit</a>
      <a href="{% url 'news-delete' news.slug %}" class="teacheredit">Delete</a>
      {% endif %}
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No news is available.</p>
    {% endif %}

</p>

{% endblock %}
