{% extends "learnfrench/base.html" %}

{% block content %}

<h1>Add news article</h1>
<form enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <input type="submit" value="Submit" />
</form>
{% endblock %}
