{% extends 'learnfrench/base.html' %}

{% block content %}

<h1>Delete News Article</h1>

<p>Are you sure you want to delete the article: {{ news }}?</p>

<form action="" method="POST">
    {% csrf_token %}
      <input type="submit" action="" value="Yes, delete." />
</form>

{% endblock %}
