{% extends 'learnfrench/base.html' %}

{% block content %}
{% load static %}


<div class="ex_list">
    <h1>{{ quiz.name }}</h1>
    {% if ex_list %}
    <ul>
        {% for ex in ex_list %}
        <li><a href="{% url 'training' quiz.id ex.id %}">{{ ex.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}

    <p>No exercise is available.</p>
    {% endif %}
</div>

<div class="ex_content">
    
    {% if exitem %}
    <h2>{{ exitem.title }}</h2>
    {% else %}
    <p>{{ quiz.description }}</p>
    {% endif %}
    {% block excontent %}
    {% endblock %}


</div>


{% endblock %}