{% extends 'learnfrench/base.html' %}

{% block content %}
{% load static %}
<h1>Resources</h1>

<p>
   {% if resource_list %}
    <ul>
    {% for resource in resource_list %}
        <li><a target="_blank" href="{{ resource.url }}/">{{ resource.name }}</a><p class="overflow">{{ resource.description | safe }}</p>
          {% if user.is_authenticated %}
          <p>
          <a href="{% url 'resource-update' resource.id %}">Edit</a> | 
          <a href="{% url 'resource-delete' resource.id %}">Delete</a>
          </p>
          {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No resource is available.</p>
    {% endif %}

</p>

<p>
{% if user.is_authenticated %}
    <a role="button" class="btn btn-primary btn-sm btn-manage" href="{% url 'resource-add' %}">Add resource</a>
{% endif %}
</p>
{% endblock %}
