{% extends 'learnfrench/syntaxquiz_item.html' %}

{% block excontent %}
{% load static %}
<h2>{{ exer.name }}</h2>
<ol>
{{ form|safe }}
</ol>
<button type="button" class="btn btn-primary" id="js-syntax-check-ans">Check answer</button>
{% endblock %}
