{% extends 'learnfrench/base.html' %}

{% block content %}
{% load static %}


<div class="ex_list">
    <h1>{{ quiz.name }}</h1>
    <ul>
        {% for ex in ex_list %}
        <li><a href="{% url 'syntaxexer' quiz.id ex.id %}">{{ ex.name }}</a></li>
        {% empty %}
        <li>No exercise is available.</li>
        {% endfor %}
    </ul>

</div>

<div class="ex_content">
        {% if exitem %}
        <h2>{{ exitem.title }}</h2>
        {% else %}
        <p>{{ quiz.description }}</p>
        {% endif %} 
    {% block excontent %}
    {% endblock %}


</div>


{% endblock %}
