{% extends 'learnfrench/quiz.html' %}

{% block excontent %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col">
            <p>Listen to the recordings. Please try to memorize the word associated with the different pictures.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="{% static '/' %}{{ word1.image_file.url }}">
        </div>
        <div class="col">
            <img class="img-fluid" src="{% static '/' %}{{ word2.image_file.url }}">
        </div>
    </div>

    {% if word1.sound_file_mp3.url and word1.sound_file_ogg.url and word2.sound_file_mp3.url and word2.sound_file_ogg.url %}
    <div class="row">
        <div class="col">
            <audio controls>
                <source src="{% static '/' %}{{ word1.sound_file_mp3.url }}" type="audio/mp3">
                <source src="{% static '/' %}{{ word1.sound_file_ogg.url }}" type="audio/ogg">
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="{% static '/' %}{{ word1.sound_file_mp3.url }}">link to the audio</a> instead.</p>
            </audio>
        </div>
        <div class="col">
            <audio controls>
                <source src="{% static '/' %}{{ word2.sound_file_mp3.url }}" type="audio/mp3">
                <source src="{% static '/' %}{{ word2.sound_file_ogg.url }}" type="audio/ogg">
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="{% static '/' %}{{ word2.sound_file_mp3.url }}">link to the audio</a> instead.</p>
            </audio>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            {{ word1.word }}
        </div>
        <div class="col">
            {{ word2.word }}
        </div>
    </div>
    <div class="row">    
        <div class="col">

{% if pair_next %}
    <a href={{ pair_next.get_absolute_url }} class="btn btn-primary btn-top-margin float-right">Next</a>
{% else %}
    <a href={% url 'exercise_item' quiz.id exitem.id pair_first.id %} class="btn btn-primary btn-top-margin float-right">Start test</a>
{% endif %}

        </div>
    </div>


</div>
{% endblock %}
