{% extends 'learnfrench/quiz.html' %}

{% block excontent %}
{% load static %}
<p>Listen to the recordings. Please try to memorize the word associated with the different pictures.</p>
    
    <a class="btn btn-primary float-right" href="{% url 'training_item' quiz.id exitem.id pair_first.id %}">Start</a>
   
{% endblock %}