{% extends "learnfrench/base.html" %}

{% block content %}
{% load static %}
<h1>Teacher portal</h1>

<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <a href="{% url 'news' %}">Show all news</a> 
    </div>
    <div class="col-md-auto">
      <a role="button" class="btn btn-primary btn-sm btn-manage" href="{% url 'news-add' %}">Add</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <a href="{% url 'resource' %}">Show all resources</a> 
    </div>
    <div class="col-md-auto">
      <a role="button" class="btn btn-primary btn-sm btn-manage" href="{% url 'resource-add' %}">Add</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <a href="{% url 'manage-phonologyquiz' %}">Show all phonology quizzes</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto">
      <a href="{% url 'manage-syntaxquiz' %}">Show all syntax quizzes</a>
    </div>
  </div>
</div>


{% endblock %}
