{% extends 'learnfrench/base.html' %}

{% block content %}

<h1 class="teacherportal">Create word for exerise {{ exer.title }}</h1>
<a class="btn btn-primary js-button" href="{% url 'phonoexer-wordpair-create' exer.id %}">Back</a>
<div class="clear"></div>
<form method='post' action=''>
  {% csrf_token %}
  <table class="table">
    {% include 'learnfrench/teacherportal/includes/partial_phonoquiz_form.html' %}
  </table>
  <input class="btn btn-primary" type="submit" value="Add" />
</form>
{% endblock %}
