{% extends 'learnfrench/base.html' %}


{% block content %}
{% load static %}
<h1 class="teacherportal">Exercises for quiz: {{ quiz.name }}</h1>
<a class="btn btn-primary js-button" href="{% url 'manage-phonologyquiz' %}">Back</a>
<a class="btn btn-primary js-button" href="{% url 'phonoexer-create' quiz.id %}">Add Exercise</a>
<!--button type="button" 
        class="btn btn-primary js-create-phono-exer js-button"
        data-url="{% url 'phonoexer-create' quiz.id  %}">
  Add Exercise
</button-->
<table class="table" id="phonoexer-table">
  <thead>
  <th>#</th>
  <th>Title</th>
  <th>Word pair</th>
  <th></th>
  </thead>
  <tbody>
    {% include 'learnfrench/teacherportal/includes/partial_phonoexer_list.html' %}
  </tbody>
</table>

  
<div class="modal" role="dialog" id="modal-phono-exer">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>



{% endblock %}
