{% extends 'learnfrench/base.html' %}


{% block content %}
{% load static %}
<h1 class="teacherportal">Phonology Quiz</h1>
<button type="button" 
        class="btn btn-primary js-create-phono-quiz js-button"
        data-url="{% url 'phonoquiz-create' %}">
  Add Quiz
</button>
<table class="table" id="phonoquiz-table">
  <thead>
  <th>#</th>
  <th>Name</th>
  <th>Exercise</th>
  <th>Description</th>
  <th></th>
  </thead>
  <tbody>
    {% include 'learnfrench/teacherportal/includes/partial_phonoquiz_list.html' %}
  </tbody>
</table>

  
<div class="modal" role="dialog" id="modal-phono-quiz">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>



{% endblock %}
