{% extends 'learnfrench/base.html' %}

{% block content %}


<h1 class="teacherportal">Delete exercise {{ exer.title }}</h1>
<a class="btn btn-primary js-button" href="{% url 'phonoexer-list' exer.quiz.id %}">Back</a>

<div class="clear"></div>
<form method='post' action="{% url 'phonoexer-delete' exer.id %}">
  {% csrf_token %}
    <p class="lead">Are you sure you want to delete exercise: <strong>{{exer.title}}</strong>?</p>
    <input type="hidden" name="exerid" value={{ exer.id }} />
    <input type="submit" class="btn btn-danger" value='Yes please' />
</form>

{% endblock %}
