{% extends 'learnfrench/base.html' %}

{% block content %}
{% load widget_tweaks %}
<h1 class="teacherportal">Update exercise for quiz {{ exer.quiz.name }}</h1>
<a class="btn btn-primary js-button" href="{% url 'phonoexer-list' exer.quiz.id %}">Back</a>
<div class="clear"></div>
<form method="post" action="{% url 'phonoexer-edit' exer.id %}">
  {% csrf_token %}
  <table class="table">
    {% include 'learnfrench/teacherportal/includes/partial_phonoquiz_form.html' %}
  </table>
  <input type="submit" class="btn btn-primary" value="Submit" />
</form>
    
{% endblock %}
