{% extends 'learnfrench/base.html' %}


{% block content %}
{% load static %}
<h1 class="teacherportal">Exercises for quiz: {{ quiz.name }}</h1>
<a class="btn btn-primary js-button" href="{% url 'manage-syntaxquiz' %}">Back</a>
<a class="btn btn-primary js-button" href="{% url 'syntaxexer-create' quiz.id %}">Add Exercise</a>
<table class="table" id="phonoexer-table">
  <thead>
  <th>#</th>
  <th>Exercise</th>
  <th>Questions</th>
  <th></th>
  </thead>
  <tbody>
    {% include 'learnfrench/teacherportal/includes/partial_syntaxexer_list.html' %}
  </tbody>
</table>


{% endblock %}
