{% extends 'learnfrench/base.html' %}

{% block content %}


<h1 class="teacherportal">Delete quiz {{ object }}</h1>
<a class="btn btn-primary js-button" href="{% url 'manage-syntaxquiz' %}">Back</a>

<div class="clear"></div>
<form method='post' action="">
  {% csrf_token %}
    <p class="lead">Are you sure you want to delete quiz: <strong>{{ object }}</strong>?</p>
    <input type="submit" class="btn btn-danger" value='Yes please' />
</form>

{% endblock %}
