{% extends 'learnfrench/base.html' %}


{% block content %}
{% load static %}
<h1 class="teacherportal">Syntax Quiz</h1>
<a role="button"
   class="btn btn-primary js-button"
   href="{% url 'syntaxquiz-create' %}">
  Add Quiz
</a>
<table class="table" id="phonoquiz-table">
  <thead>
  <th>#</th>
  <th>Name</th>
  <th>Exercise</th>
  <th>Description</th>
  <th></th>
  </thead>
  <tbody>
    {% include 'learnfrench/teacherportal/includes/partial_syntaxquiz_list.html' %}
  </tbody>
</table>



{% endblock %}
