{% extends 'learnfrench/base.html' %}

{% block content %}
{% load widget_tweaks %}
<h1 class="teacherportal">Create Syntax Quiz</h1>
<a class="btn btn-primary js-button" href="{% url 'manage-syntaxquiz' %}">Back</a>
<div class="clear"></div>
<form method="post" action="{% url 'syntaxquiz-create' %}" class="js-phonoexer-create-form">
  {% csrf_token %}
  <table class="table">
    {% include 'learnfrench/teacherportal/includes/partial_phonoquiz_form.html' %}
  </table>
  <input type="submit" class="btn btn-primary" value="Submit" />
</form>
    
{% endblock %}
