  {% for exer in exer_list %}
    <tr>
      <td>{{ exer.id }}</td>
      <td>{{ exer.title }}</td>
      <td>
        <table class="table table-sm table-responsive">
        {% for word in exer.phonologyfrenchwordpair_set.all %}
        <tr>
          <td>
            <div class="container">
              <div class="row">
                  {% if word.word1.image_file %}
                <div class="col">
                <img class="card-img-top word-card-image" src="/static/{{ word.word1.image_file }}" alt="">
                </div>
                {% endif %}
              <div class="col">
                <h4 class="card-title">{{ word.word1.word }}</h4>
                {% if word.word1.sound_file_mp3 and word.word1.sound_file_ogg %}
                <audio controls>
                <source src="/static/{{ word.word1.sound_file_mp3 }}" type="audio/mp3">
                <source src="/static/{{ word.word1.sound_file_ogg }}" type="audio/ogg">
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="/static/{{ word.word1.sound_file_mp3 }}">link to the audio</a> instead.</p>
                </audio>
                {% endif %}
              </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="{% url 'phonoword-edit' exer.id word.word1.id %}">Edit word</a>
                </div>
              </div>
            </div>
          </td>
                
          <td>
             <div class="container">
               <div class="row">
                 {% if word.word2.image_file %}
                 <div class="col">
              <img class="card-img-top word-card-image" src="/static/{{ word.word2.image_file }}" alt="">
                 </div>
                 {% endif %}
                 <div class="col">
                <h4 class="card-title">{{ word.word2.word }}</h4>
                {% if word.word2.sound_file_mp3 and word.word2.sound_file_ogg %}
                <audio controls>
                <source src="/static/{{ word.word2.sound_file_mp3 }}" type="audio/mp3">
                <source src="/static/{{ word.word2.sound_file_ogg }}" type="audio/ogg">
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="/static/{{ word.word2.sound_file_mp3 }}">link to the audio</a> instead.</p>
                </audio>
                {% endif %}
                 </div>
               </div>
               <div class="row">
                 <div class="col">
                   <a href="{% url 'phonoword-edit' exer.id word.word2.id %}">Edit word</a>
                 </div>
               </div>
             </div>

          </td>
          <td>
            <a href="{% url 'phonoexer-wordpair-delete' word.id %}">Delete pair</a>
          </td>
        </tr>
        {% endfor %}

        </table>
      </td>
        <td>
          <a class="btn btn-primary btn-sm btn-manage" href="{% url 'phonoexer-wordpair-create' exer.id %}">Add word pair</a>
        <a class="btn btn-info btn-sm btn-manage" href="{% url 'phonoexer-edit' exer.id %}">Edit exercise</a>
        <a class="btn btn-danger btn-sm btn-manage" href="{% url 'phonoexer-delete' exer.id %}">Delete exercise</a>
        <!--button type="button"
                class="btn btn-warning btn-sm js-update-phono-quiz"
                data-url="{% url 'phonoquiz-update' quiz.id %}">
          Edit
        </button>
        &nbsp;
        <button type="button"
                class="btn btn-info btn-sm js-update-phono-exer"
                data-url="{% url 'phonoexer-list' quiz.id %}">
          Edit exercise
        </button>
        &nbsp;
        <button type="button"
                class="btn btn-danger btn-sm js-delete-phono-quiz"
                data-url="{% url 'phonoquiz-delete' quiz.id %}">
          Delete
        </button-->
      </td>
    </tr> 
    {% empty %}
    <tr>
      <td colspan="4" class="text-center bg-warning">No exercise</td>
    </tr>
    {% endfor %}


