<form method='post' action="{% url 'phonoquiz-delete' quiz.id %}" class="js-phonoquiz-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Delete quiz</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete quiz: <strong>{{quiz.name}}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Delete quiz</button>
  </div>
</form>
