{% load widget_tweaks %}

{{ form.management_form }}
{% for f in form %}
    {% for field in f %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label_tag}}</label>
      {{ field|add_class:"form-control"|add_error_class:"is-invalid"  }}
      {% for error in field.errors %}
      <div class="feedback">{{ error }}</div>
      {% endfor %}
    </div>
    {% endfor %}
{% endfor %}
