{% load widget_tweaks %}

<form method="post" action="{% url 'phonoquiz-create' %}" class="js-phonoquiz-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Create phonology quiz</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% include 'learnfrench/teacherportal/includes/partial_phonoquiz_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Create quiz</button>
  </div>
</form>
    
