  {% for quiz in phonologyquiz_list %}
    <tr>
      <td>{{ quiz.id }}</td>
      <td>{{ quiz.name }}</td>
      <td>
        <ul class="list-unstyled">
        {% for ex in quiz.phonologyexercise_set.all %}
        <li>{{ ex.title }}&nbsp; </li>
        {% endfor %}
        </ul>
      </td>
      <td>{{ quiz.description }}</td>
      <td>
        <button type="button"
                class="btn btn-warning btn-sm js-update-phono-quiz"
                data-url="{% url 'phonoquiz-update' quiz.id %}">
          Edit
        </button>
        &nbsp;
        {% if quiz.phonologyexercise_set.all %}
        <a role="button"
                class="btn btn-info btn-sm js-update-phono-exer"
                href="{% url 'phonoexer-list' quiz.id %}">
          Edit exercise
        </a>
        {% else %}
        <a role="button"
           class="btn btn-info btn-sm"
           href="{% url 'phonoexer-create' quiz.id %}">
          Add exercise
        </a>
        {% endif %}
               &nbsp;
        <button type="button"
                class="btn btn-danger btn-sm js-delete-phono-quiz"
                data-url="{% url 'phonoquiz-delete' quiz.id %}">
          Delete
        </button>
      </td>
    </tr> 
    {% empty %}
    <tr>
      <td colspan="4" class="text-center bg-warning">No quiz</td>
    </tr>
    {% endfor %}


