  {% for quiz in syntaxquiz_list %}
    <tr>
      <td>{{ quiz.id }}</td>
      <td>{{ quiz.name }}</td>
      <td>
        <ul class="list-unstyled">
        {% for ex in quiz.syntaxexercise_set.all %}
        <li>{{ ex.name }}&nbsp; </li>
        {% endfor %}
        </ul>
      </td>
      <td>{{ quiz.description }}</td>
      <td>
        <a role="button"
           class="btn btn-warning btn-sm"
           href="{% url 'syntaxquiz-update' quiz.id %}">
          Edit
        </a>
        &nbsp;
        {% if quiz.syntaxexercise_set.all %}
        <a role="button"
                class="btn btn-info btn-sm js-update-phono-exer"
                href="{% url 'syntaxexer-list' quiz.id %}">
          Edit exercise
        </a>
        {% else %}
        <a role="button"
           class="btn btn-info btn-sm"
           href="{% url 'syntaxexer-create' quiz.id %}">
          Add exercise
        </a>
        {% endif %}
               &nbsp;
        <a role="button"
           class="btn btn-danger btn-sm"
           href="{% url 'syntaxquiz-delete' quiz.id %}">
          Delete
        </a>
      </td>
    </tr> 
    {% empty %}
    <tr>
      <td colspan="4" class="text-center bg-warning">No quiz</td>
    </tr>
    {% endfor %}


