  {% for exer in exer_list %}
    <tr>
      <td>{{ exer.id }}</td>
      <td>{{ exer.name }}</td>
      <td>
        <ol>
        {% for q in exer.syntaxquestion_set.all %}
        <li>{{ q.text }}
          <p><a href="{% url 'syntaxques-edit' quiz.id exer.id q.id %}">Edit question</a>&nbsp;&nbsp;<a href="{% url 'syntaxques-delete' quiz.id exer.id q.id %}">Delete question</a></p> 
        </li>
        {% endfor %}
        </ol>

      </td>
        <td>
          <a class="btn btn-primary btn-sm btn-manage" href="{% url 'syntaxques-create' quiz.id exer.id %}">Add question</a>
        <a class="btn btn-info btn-sm btn-manage" href="{% url 'syntaxexer-edit' quiz.id exer.id %}">Edit exercise</a>
        <a class="btn btn-danger btn-sm btn-manage" href="{% url 'syntaxexer-delete' quiz.id exer.id %}">Delete exercise</a>
        <!--button type="button"
                class="btn btn-warning btn-sm js-update-phono-quiz"
                data-url="{% url 'phonoquiz-update' quiz.id %}">
          Edit
        </button>
        &nbsp;
        <button type="button"
                class="btn btn-info btn-sm js-update-phono-exer"
                data-url="{% url 'phonoexer-list' quiz.id %}">
          Edit exercise
        </button>
        &nbsp;
        <button type="button"
                class="btn btn-danger btn-sm js-delete-phono-quiz"
                data-url="{% url 'phonoquiz-delete' quiz.id %}">
          Delete
        </button-->
      </td>
    </tr> 
    {% empty %}
    <tr>
      <td colspan="4" class="text-center bg-warning">No exercise</td>
    </tr>
    {% endfor %}


