/* 
color paletette
#FFAC57
#E85C39
#FF4B89
#C339E8
#683EFF
*/

:root {
    --second-color: #E75252;
    --main-color:  #243270;
    --teacher-color: blue;
}

body {
  padding-bottom: 20px;
  font-family: 'Nanum Myeongjo', serif;
}


h1, h2 {
    color: var(--main-color);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

h1 {
    padding-top: 1.5rem;
    padding-left: 10px;
}

input,
textarea {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 8px 0 8px 10px;
  box-sizing: border-box;
}

input:focus {
  background-color: rgb(236, 236, 236);
}

input[type="submit"] {
  margin-left: 0;
}

.topbar {
    /*height: 100px;
    background-color: #eae2e2;
    color: gray;*/
    height: 200px;
}

/*
.topbar col img {
  height: 315px;
}*/
/*
.topbar img {
  width: 75px;
  height: 75px;
}

.topbar .brandname {
  font-weight: bold;
}
*/

nav {
    margin-top: 20px;
}

a.active, a:hover {
    font-style: bold;
    color: var(--second-color);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 0.5rem 1rem;
    
    border-radius: 0.5rem;
    margin: 0 auto;
}

a.button:hover{
  background-color: blue;
}
.footer {
  /*
  position: absolute;
  bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  /*background-color: #f5f5f5;*/
}

.ex_list {
  width: 25%;
  float: left;
}

.ex_content {
  width: 75%;
  float: left;
  border: gray 0.1rem solid;
  margin-top: 2.5rem;
  padding: 1rem;
  min-height: 30rem;
}

.italic {
    font-style: italic;
}

.bold {
    font-style: bold;
}

a {
    color: var(--main-color);
}

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
    /*border-color: var(--second-color);*/
    
}

.btn-top-margin {
  margin-top: 1.5rem;
}

.modal-footer .btn-primary {
  margin: 0;
}

.js-button {
  margin: 3rem 0 0 1rem;
  float: right;

}

h1.teacherportal{ 
  float:left;
}

audio {
  margin: 1.5rem 0;
}

input[type="radio"] {
  position: absolute;
  left: -1000px;
}

.test:hover, .test:active, 
input[type="radio"]:hover+label,
input[type="radio"]:active+label,
input[type="radio"]:checked+label {
  border: 0.4rem var(--main-color) solid;

}

.ex_response {
  display: none;
  text-decoration: bold;
  margin: 1.5rem 0;
  background-color: var(--second-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.btn-manage {
  margin-top: 0;
  margin-bottom: 1rem;
}


.teacheredit {
  color: var(--teacher-color);
  font-size: 0.8rem;
}

.nav-right {
  float: right;
}

.username {
  text-size: 0.8rem;
  color: gray;
}

/* Edit link in management portal */
.edit {
  font-size: 0.8rem;
}

.word-card-image {
  height: 6rem;
  width: 6rem;
}

.clear {
  clear: both;
}

.news-article img.news-image {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
}

.news-article p {
  margin: 15px 0;
}

.news-article .control {
  clear: both;
  padding-top: 15px;
}

.cover-image {
  margin-bottom: 10px;
}

.feedback.show{
  margin: 0 5px;
  padding: 5px;
  border-radius: 3px;
}

.feedback.show.correct {
  background-color: paleturquoise;
}

.feedback.show.incorrect {
  background-color: tomato;
}

.feedback.invisible {
  margin: 0;
  padding: 0;
}