{% extends 'learnfrench/base.html' %}

{% block content %}
{% load static %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
        <h1>Admin login</h1>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
<table>
  <tr>
       <td>{{ form.username.label_tag }}</td>
       <td>{{ form.username }}</td>
  </tr>
  <tr>
       <td>{{ form.password.label_tag }}</td>
       <td>{{ form.password }}</td>
  </tr>
</table>
  <div>
       <input type="submit" value="Login" />
       <input type="hidden" name="next" value="{{ next }}" />
  </div>
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
